<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>FlickList - Login</title>
    <title>FlickList-Sign Up</title>
    <link href="./css/style.css" rel="stylesheet" type="text/css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,300&display=swap"
      rel="stylesheet"
    />
    <link
      rel="icon"
      type="image/icon"
      sizes="32x32"
      href="/Popcorn-Transparent-PNG.png"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Nunito:400,300"
      rel="stylesheet"
      type="text/css"
    />
  </head>
  <body>
    <br />

    <div class="header-image">
      <img src="./popcorn.png" alt="popcorn movie ticket" />
    </div>
    <% if (locals.messages.errors) { %> <% messages.errors.forEach( el => { %>
    <div class="alert alert-danger"><%= el.msg %></div>
    <% }) %> <% } %> <% if (locals.messages.info) { %> <% messages.info.forEach(
    el => { %>
    <div class="alert alert-danger"><%= el.msg %></div>
    <% }) %> <% } %>
    <form action="/login" method="POST">
      <h2>Login</h2>
      <label for="mail">Email:</label>
      <input type="email" name="email" class="mail" />
      <label for="password">Password:</label>
      <input type="password" name="password" class="password" />
      <button type="submit">Login</button>
    </form>
    <br />
    <div id="homeButton">
      <a class="home button" href="/signup">Signup</a>
    </div>
  </body>
</html>
